/* _content/CompanyApp.Component.NonStateActor/Component1.razor.rz.scp.css */
.my-component[b-r17fophtyz] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
/* _content/CompanyApp.Component.NonStateActor/Pages/MainLayout.razor.rz.scp.css */
.page[b-6ur1uwc97r] {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main[b-6ur1uwc97r] {
    flex: 1;
}

.sidebar[b-6ur1uwc97r] {
    background-color: #f7f7f7;
}

.top-row[b-6ur1uwc97r] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row a[b-6ur1uwc97r], .top-row .btn-link[b-6ur1uwc97r] {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row a:hover[b-6ur1uwc97r], .top-row .btn-link:hover[b-6ur1uwc97r] {
        text-decoration: underline;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-6ur1uwc97r] {
        display: none;
    }

    .top-row.auth[b-6ur1uwc97r] {
        justify-content: space-between;
    }

    .top-row a[b-6ur1uwc97r], .top-row .btn-link[b-6ur1uwc97r] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-6ur1uwc97r] {
        flex-direction: row;
    }

    .sidebar[b-6ur1uwc97r] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-6ur1uwc97r] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    main > div[b-6ur1uwc97r] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/CompanyApp.Component.NonStateActor/Pages/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-svjk0svg39] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-svjk0svg39] {
    background-color: #1b6ec2;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-start;
}

.navbar-brand[b-svjk0svg39] {
    font-size: 1.1rem;
}

.nav-scrollable[b-svjk0svg39] {
    display: none;
}

.nav-scrollable.show[b-svjk0svg39] {
    display: block;
}

.nav-section-header[b-svjk0svg39] {
    color: #888;
    font-size: 0.85rem;
    margin-top: 0.5rem;
    border-bottom: 1px solid #e0e0e0;
}

@media (min-width: 641px) {
    .navbar-toggler[b-svjk0svg39] {
        display: none;
    }

    .nav-scrollable[b-svjk0svg39] {
        /* Never collapse the sidebar for wide screens */
        display: block;
        overflow-y: auto;
    }
}
